.listapet-body {
    margin-left: 98px;
    margin-right: 98px;
    max-width: 82vw;
    max-height: 100vh;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}

.listapet-parte-cima-direita{
    display: flex;
    flex-flow: row wrap ;
    align-items: baseline;
    justify-content: flex-end;
}
.listapet-parte-cima{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.listapet-button{
    min-height: 70px;
    min-width: 105px;
}

.listapet-button button{
    border-color: rgba(0, 0, 0, 0.1);
    height: 10%;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 5%;
    color: white;
    background-color: rgba(243, 107, 83, 1);
}

.listapet-inputs {
    margin-left: 16%;
    height: 1%;
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}

.listapet-input-1 {
    text-shadow: rgba(0, 0, 0, 0.1);;
    border-color: rgba(0, 0, 0, 0.1);
    height: 1%;
    width: 80%;
    border-radius: 30px;
    padding: 2%;
    margin-bottom: 7%;
    margin-top: 2%;
}